[submodule "backend-repo"]
	path = backend-repo
	url = https://github.com/TecHERE/backend-repo.git
[submodule "frontend-repo"]
	path = frontend-repo
	url = https://github.com/TecHERE/frontend-repo
	branch = main
